* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Bungee Inline", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  /* background image by Carl Raw (@carltraw) from Unsplash (https://unsplash.com/photos/7H7KVCihBvI) */
  background-image: url("../img/bg-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.logo {
  width: 70%;
  max-width: 484px;
}

h1 {
  border: 10px solid #fff;
  border-radius: 12px;
  font-family: "Bungee Inline", sans-serif;
  font-size: 44px;
  padding: 0.5em;
  margin: 1em;
  text-align: center;
}

h1 span {
  font-family: "Pacifico", sans-serif;
}

/*
h1 {
  width: 100%;
  padding-top: 1em;
  margin: 0;
  font-family: "Unlock", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  text-align: center;
}
*/

p,
.guess-form {
  letter-spacing: 1.75px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

/*
.container {
    background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(167, 237, 237, 0.3) 0%,
    rgba(156, 226, 226, 0) 100%
  );
}
*/

.hide {
  display: none;
}

.highlight {
  padding: 0.25em;
  background: #b1dcc8;
  font-size: 1.5em;
}

.underline {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.word-in-progress {
  letter-spacing: 15px;
  color: #a7002c;
  font-size: 50px;
}

.guessed-letters {
  padding: 0;
  list-style: none;
}

.guessed-letters li {
  display: inline-block;
  padding: 0 0.5em;
}

.message {
  text-align: center;
}

.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-form label {
  width: 100%;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

input {
  width: 2.25em;
  text-align: center;
  font-size: 1.75em;
  margin-top: 0.5em;
  padding: 0.5em;
  border: 5px solid #a7002c;
}

input:active,
input:focus {
  outline: 0;
  border: 4px solid #a7002c;
}

.guess,
.play-again {
  padding: 1em 3em;
  border-radius: 50px;
  margin-top: 1em;
  color: #fff;
  background: #a7002c;
  font-size: 1.25em;
  align-self: center;
  outline: none;
  border: 0;
  cursor: pointer;
}

.guess:active,
.play-again:active,
.guess:focus,
.play-again:focus,
.guess:hover,
.play-again:hover {
  outline: 0;
  transform: scale(0.98);
  background: brightness(0.3);
  color: white;
}

/* animatied background */
.win {
  padding: 0 1em;
  background: linear-gradient(-45deg, #ab7b88, #a7002c);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
